@import '../../less/common.less';

.navigate {
  position: relative;
  display: none;
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &.active {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 14px;
    color: #4c4c4c;
    background: #fff;
    box-shadow: @modal-window-box-shadow;
    .lockIcon {
      position: absolute;
      bottom: 5px;
      right: 5px;
      margin: 0 auto;
      width: 16px;
      height: 16px;
      z-index: 999;
      &.isLock {
        color: red;
      }
    }
    &.dark {
      color: #fff;
      background: #000;
      .listItem {
        &.hasSub,
        &.arrow {
          &::before {
            border-right: 1px solid @text-color-20;
            border-bottom: 1px solid @text-color-20;
          }
        }
      }
      .list {
        background-color: #000;
        &.level {
          &.listExpanded {
            background-color: @ui-gray-dark;
            > .listColumn {
              &.active {
                > .list {
                  background-color: @ui-gray-dark;
                  > .listItem {
                    &.active {
                      background: #000;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .listItem {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 15px;

    &.all {
      * {
        font-weight: @font-weight-bold;
      }
    }

    &.hasSub,
    &.arrow {
      &::before {
        position: absolute;
        top: 13px;
        right: 20px;
        width: 6px;
        height: 6px;
        background: none;
        border-right: 1px solid @text-color-70;
        border-bottom: 1px solid @text-color-70;
        transform: rotate(-45deg);
        content: '';
      }
    }
  }

  .listLink,
  .listLabel {
    position: relative;
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .column {
    &:not(:nth-child(4)) {
      border-right: 1px dotted @common-border-color;
    }
  }

  .page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 20px;

    .left {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;

      &::after {
        position: absolute;
        top: 5px;
        left: 8px;
        width: 8px;
        height: 8px;
        background: none;
        border-bottom: 2px solid @disabled-text-color;
        border-left: 2px solid @disabled-text-color;
        transform: rotate(45deg);
        cursor: pointer;
        content: '';
      }
    }

    .right {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;

      &::after {
        position: absolute;
        top: 5px;
        left: 2px;
        width: 8px;
        height: 8px;
        background: none;
        border-right: 2px solid @disabled-text-color;
        border-bottom: 2px solid @disabled-text-color;
        transform: rotate(-45deg);
        cursor: pointer;
        content: '';
      }
    }

    .count {
      color: @text-color-50;
      * {
        color: @text-color-50;
      }
    }
  }

  &__primary {
    width: 210px;
  }

  &.large {
    .listLink {
      width: 336px;
    }
  }

  &.mega {
    cursor: auto;

    .wrapper {
      width: 210px;
      height: 360px;
      padding: 0;
      overflow: hidden;
      transition: width 0.3s, height 0.3s;

      &.expanded {
        .listColumn {
          opacity: 1;
        }
      }
      &.paginated {
        height: 414px;
        .list {
          &.level0 {
            height: 414px;
          }
        }
        .bottom {
          display: flex;
        }
      }
    }

    .list {
      position: absolute;
      background: #fff;

      &.level0 {
        left: 0;
        display: flex;
        height: 360px;
        padding-top: 10px;

        > .list-item--active {
          z-index: 1;

          > .list--level-1 {
            display: flex;
          }
        }

        > .listColumn {
          max-height: 340px;
          opacity: 1;
        }
        &.listExpanded {
          left: 0;
          overflow: visible;
          background-color: @ui-gray-lighter;

          > .listColumn {
            display: none;
            transition: none;

            &.active {
              display: block;

              > .list {
                background-color: @ui-gray-lighter;

                > .listItem {
                  &.active {
                    background: #fff;

                    > .list {
                      &.level1 {
                        display: flex;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.level1 {
        left: 230px;
        display: none;
        overflow: hidden;

        &.listExpanded {
          left: 0;
          overflow: visible;
          background-color: @ui-gray-lighter;

          > .listColumn {
            display: none;
            transition: none;
            &.active {
              z-index: 1;
              display: block;

              > .list {
                background-color: @ui-gray-lighter;
                > .listItem {
                  height: 34px;
                }
                > .active {
                  background: #fff;

                  > .list {
                    &.level2 {
                      display: flex;
                    }
                  }
                }
              }
            }
          }
        }
        .listItem {
          height: 30.5px;
        }
      }
      &.level2 {
        left: 230px;
        display: none;
        overflow: hidden;

        &.listExpanded {
          left: 0;
          overflow: visible;
          background-color: @ui-gray-lighter;

          > .listColumn {
            display: none;
            transition: none;
            &.active {
              position: absolute;
              top: -34px;
              z-index: 2;
              display: block;
              > .list {
                background-color: @ui-gray-lighter;
                > .listItem {
                  height: 34px;
                  &.active {
                    background: #fff;

                    .list {
                      &.level3 {
                        display: flex;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .listItem {
          height: 30.5px;
        }
      }

      &.level3 {
        left: 230px;
        display: none;
        overflow: hidden;

        .listItem {
          height: 30.5px;
        }
      }
    }

    .listColumn {
      top: 0;
      opacity: 0;
      transition: transform 0.3s, opacity 0.2s;
      &:not(:first-of-type) {
        border-left: 1px dotted @common-border-color;
      }
      > .list {
        position: relative;
      }
    }

    .listItem {
      width: 230px;
      &.hasSub,
      &.arrow {
        &::after {
          right: 15px;
        }
      }
    }

    .listLabel,
    .listLink {
      width: 210px;
    }

    .title {
      position: absolute;
      top: 0;
      left: 220px;
      z-index: 2;
      display: none;
      align-items: center;
      margin: 15px 0 0 15px;
      padding: 3px 10px;
      border: 1px solid #EEE;
      border-radius: 99em;
      background-color: #4c4c4c;
      color: #FFF;
      letter-spacing: 2px;

      .text {
        font-weight: @font-weight-bold;
        line-height: normal;
        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        display: flex;
      }
    }
    .bottom {
      position: absolute;
      bottom: 10px;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 40px;

      &.offset {
        left: 210px;
        width: 780px;
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
      display: none;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      cursor: pointer;

      .icon {
        width: 12px;
        height: 12px;
      }

      &.active {
        display: flex;
      }
    }
  }
}
