@import '../../less/common.less';

.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  .logo {
    display: inline-block;
    height: 100%;
    margin: auto 10px;
  }
  .menuLeft {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: calc(~"100% - 100px");
    .login {
      float: right;
    }
    .register {
      float: right;
    }
  }
  .dropdownMenu {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    border-radius: 0;
    width: 100px;
    height: calc(@header-height);
  }
}
